$color1: #6f2108;
$color2: #e3632d;
$color3: #f94e3f;
$color4: #e77e4d;
$color5: #f2eee3;

header {
  //position: relative;
  //width: 360px;
  //height: 72px;
  /* 3 */
  background: $color3;

  /* LOGO MOCCA */
  nav {
    .menu {
      padding: 0px;
      height: 48px;

      ul {
        display: flex;
        //flex-direction: row;
        //align-items: center;
        justify-content: flex-end !important;
        li {
          a {
            left: 0px;
            top: 13px;
            font-family: "Comfortaa", cursive;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 22px;
            display: flex;
            align-items: center;
            color: $color5 !important;
            flex: none;
            order: 0;
            flex-grow: 0;
          }
        }
      }
    }
  }
}

/* Banner Landing */

.banner_landing {
  width: 100%;
  height: 989px;
  //left: 0px;
  //top: 0px;

  //background: url(production ID_4465209.png);

  //position: absolute;
  //width: 360px;
  //height: 568px;
  //left: 0px;
  //top: 72px;
  //background: #828282;
  //box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  .lenguage_select {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    /* 5 */

    background: #f2eee3;
    opacity: 0.15;

    .esp_eng {
      position: absolute;
      left: 83.67%;
      right: 1.88%;
      top: 0%;
      bottom: 0%;

      @mixin lenguage {
        position: absolute;
        top: 33.33%;
        bottom: 33.33%;
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
        display: flex;
        align-items: center;
        color: $color2;
        //opacity: 0.9;
      }

      .esp {
        @include lenguage;
        left: 10.27%;
        right: 66.49%;
        top: 16.67%;
        bottom: 14.58%;
      }

      .eng {
        @include lenguage;
        left: 67.57%;
        right: 3.78%;
        top: 14.58%;
        bottom: 16.67%;
        letter-spacing: -0.05em;
      }
    }
  }

  .imagen_banner {
    position: absolute;
    width: 175px;
    height: 44px;
    left: 92px;
    top: 263px;

    font-family: "Comfortaa", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #ffffff;
  }
}

.test {
  position: absolute;
  width: 363px;
  height: 494px;
  left: calc(50% - 363px / 2 - 132.5px);
  top: 422px;

  background: linear-gradient(
    270deg,
    #f94e3f 27.02%,
    rgba(249, 78, 63, 0) 127.82%
  );
  transform: matrix(0, 1, 1, 0, 0, 0);
}

.ENG header nav div ul {
  padding-left: 30px;
}