header {
  /* 3 */
  background: #f94e3f;
  /* LOGO MOCCA */
}

header nav .menu {
  padding: 0px;
  height: 48px;
}

header nav .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

header nav .menu ul li a {
  left: 0px;
  top: 13px;
  font-family: "Comfortaa", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f2eee3 !important;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

/* Banner Landing */
.banner_landing {
  width: 100%;
  height: 989px;
}

.banner_landing .lenguage_select {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  /* 5 */
  background: #f2eee3;
  opacity: 0.15;
}

.banner_landing .lenguage_select .esp_eng {
  position: absolute;
  left: 83.67%;
  right: 1.88%;
  top: 0%;
  bottom: 0%;
}

.banner_landing .lenguage_select .esp_eng .esp {
  position: absolute;
  top: 33.33%;
  bottom: 33.33%;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e3632d;
  left: 10.27%;
  right: 66.49%;
  top: 16.67%;
  bottom: 14.58%;
}

.banner_landing .lenguage_select .esp_eng .eng {
  position: absolute;
  top: 33.33%;
  bottom: 33.33%;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e3632d;
  left: 67.57%;
  right: 3.78%;
  top: 14.58%;
  bottom: 16.67%;
  letter-spacing: -0.05em;
}

.banner_landing .imagen_banner {
  position: absolute;
  width: 175px;
  height: 44px;
  left: 92px;
  top: 263px;
  font-family: "Comfortaa", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #ffffff;
}

.test {
  position: absolute;
  width: 363px;
  height: 494px;
  left: calc(50% - 363px / 2 - 132.5px);
  top: 422px;
  background: -webkit-gradient(linear, right top, left top, color-stop(27.02%, #f94e3f), color-stop(127.82%, rgba(249, 78, 63, 0)));
  background: linear-gradient(270deg, #f94e3f 27.02%, rgba(249, 78, 63, 0) 127.82%);
  -webkit-transform: matrix(0, 1, 1, 0, 0, 0);
          transform: matrix(0, 1, 1, 0, 0, 0);
}

.ENG header nav div ul {
  padding-left: 30px;
}
/*# sourceMappingURL=styles.css.map */